$general-padding: 10px;
$general-margin: 50px;
$small-margin: 20px;
$xsmall-margin: 12px;

.c-feed__display {
    background: $pale-grey;
    padding-top: $general-padding;
}

.c-transaction__summary {
    display: flex;
    justify-content: flex-end;
    padding: $general-padding;

    button {
        margin-right: $general-margin;
        margin-top: $small-margin;
    }

    @include mq($from: desktop) {
        justify-content: space-between;
    }
}

.c-transaction__button {
    margin-bottom: $general-margin;
    margin-top: $small-margin;
}

.c-user {
    span {
        margin-left: $small-margin;
    }
}

.c-user__name {
    margin-bottom: $xsmall-margin;
    margin-top: $xsmall-margin;
}